.Footer{
  height: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(100, 99, 99);
  margin-top: 10px;
}

.footer_content a{
 display: block;
 padding-top: 20px;
}

@media screen and (min-width: 321px) and (max-width: 450px){
  .Footer{
    height: 150px;
  }
  .Footer section {
    display: block;
  }
}