#warks {
  height: 10px;
  margin-bottom: 100px;
 }

.warks {
  text-align: center;
  width: 80%;
  margin:100px auto;
  margin-bottom: 120px;
  text-align: center;
}

.warks .title{
  text-align: left;
  margin: 20px 0 10px 200px;
  font-size: 3.5rem;
}

.warkContent {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
}
.menu_app_page{
  display: flex;
}

.wark-title{
  font-weight: normal;
}

.menu_app{
  width: 260px;
  margin: 20px 30px;
  border: 1.5px solid rgb(113, 112, 112);
  border-radius: 10px;
}
.menu_app2{
  display: none;
}

.overview{
  text-align: left;
  margin: 0 20px;
  font-size: 18px;
}
.overview h4{
  font-weight: normal;
  font-size: 20px;
}

@media screen and (min-width: 321px) and (max-width: 1500px){
  .warks .title{   
    margin: 20px 0 10px 100px;
  }
}
@media screen and (min-width: 321px) and (max-width: 1350px){
 .overview{
   font-size: 17px;
 }
}
@media screen and (min-width: 321px) and (max-width: 1200px){
  .warks{
    width: 90%;
  }
}
@media screen and (min-width: 321px) and (max-width: 1100px){
  .overview{
    margin-top: 20px;
  }
  .overview p{
    padding: 5px;
  }
}
@media screen and (min-width: 321px) and (max-width: 920px){
  .menu_app{
    display: none;
  }
  .menu_app2{
    display: block;
    width: 400px;
    margin: 0 auto;
    border: 1.5px solid rgb(113, 112, 112);
    border-radius: 5px;
  }
  .menu_app_page{
    display: block;
  }
  .overview {
    font-size: 16px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 450px){
  #warks{
    height: 40px;
    margin-bottom: 0px;
  }
  .warks{
    width: 100%;
    padding-top: 10px;
    margin: 0;
  }
  .warks .title{
    font-size: 2.5rem;
    text-align: center;
    margin: 40px;
    margin-top: 20px;
  }
  .menu_app2{
    width: 270px;
  }
  .overview {
    font-size: 12px;
  }
}

